@use "../utilities/mixin" as mixin;

.accommodation__header {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  margin: 1rem 1rem 0rem;
}

@include mixin.is ("desktop") {
  .accommodation__header {
    flex-direction: row;
    align-items: center;
    margin: 0rem 5.5rem 0rem;
  }
}

.accommodation__header .accommodation__infos {
  flex: 1;
}

@media (min-width: 1024px) {
  .accommodation__header .accommodation__infos {
    flex: 1 0 60%;
  }
}

.accommodation__header .accommodation__infos .accommodation__tags {
  margin-top: 32px;
}

.accommodation__header .accommodation__host__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

@include mixin.is ("desktop") {
  .accommodation__header .accommodation__host__infos {
    flex-direction: column;
    align-items: flex-end;
  }
}

@include mixin.is ("desktop") {
  .accommodation__header .accommodation__host__infos .host {
    order: 1;
  }
}

@include mixin.is ("desktop") {
  .accommodation__header .accommodation__host__infos .rate {
    order: 2;
    margin-top: 16px;
  }
}

.accommodation__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 4px 0;
}

@include mixin.is ("desktop") {
  .accommodation__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin: 1rem 4rem 2rem ;
  }
}
