@use '../base/' as base;

.accordion {
  margin: 0rem 1rem 0rem;  

  .accordion_label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: base.$primary;
    color: base.$white;
    padding: 0.8em;
    border-radius: 10px;
    cursor: pointer;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.1rem;
      font-style: base.$font-style;
    }

    img {
      transition: transform ease-in-out 250ms;
      transform-origin: center;
    }
  }

  & > .accordion_content {
    display: none;
  }

  &.open {
    background-color: base.$secondary;
    & > .accordion_label img {
      transform: rotate(180deg);
    }

    & > .accordion_content {
      display: block;
    }
  }

  .accordion_content {
    padding: 0.8em;
    color: base.$primary;

    p {
      margin: 0;
    }

    ul {
      list-style: none inside none;
      padding: 0;
      margin: 0;
    }
  }
}