@use "../base/" as base;
@use "../utilities/mixin" as mixin;


.slider {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0rem 1rem 0rem;  

  @include mixin.is('desktop') {
    height: 380px;
    border-radius: 25px;
    margin: 0rem 6rem 0rem;  
    
  }

  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    cursor: pointer;
  }

  .left-arrow {
    left: 1rem;
  }
  .right-arrow {
    right: 1rem;
  }

  .slider-counter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    background-color: base.$primary;
    color: base.$white;
    padding: .2rem .6rem;
  }

  .slide {
    img {
      height: 300px;
      object-fit: cover;
      width: 100%;

      @include mixin.is('desktop') {
        height: 380px;
      }
    }
  }
}