@use "../base" as base;

.card {
  position: relative;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;

  

  &:hover {
    & > img {
      transform: scale(1.1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .6) 100%);
    z-index: 5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
    transform: scale(1);
    transition: transform ease-in-out 250ms;
  }

  h2 {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    color: base.$white;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 10
  }
}
