@use "../base" as base;
@use "../utilities/mixin" as mixin;

.card {
  position: relative;
  width: 100%;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5rem;

  &:hover > img {
    transform: scale(1.1);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    z-index: 5;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center bottom;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
  }

  h2 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
    color: base.$white;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 10;
  }

  @include mixin.is("desktop") {
    height: 320px;
  }
}
