@use "../base" as base;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 56px 50px;
  color: base.$primary;

  h1 {
    font-size: 4.5rem;
    font-weight: 11rem;
    margin-top: 0;

  }

  p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;

 
  }

  a {
    color: base.$primary;
    text-decoration: underline;
  }

}