@use "../base" as base;
@use "../utilities/mixin" as mixin;


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  
  @include mixin.is("desktop") {
    padding: 2em 2em 2em 6em;
  }
}