@use "../base" as base;
@use "../utilities/mixin" as mixin;

.header {

    
  @include mixin.is("desktop") {
    display: flex;
    align-items: center;
    padding: 2em 2em 2em 6em;
    justify-content: space-between;
  }
}
