@use "../base" as base;
@use "../utilities/mixin" as mixin;
@use "../base/color" as color;

.hero-image {
  position: relative;
  margin: 1rem auto;
  border-radius: 20px;
  overflow: hidden;
  height: 120px;
  width: 92%;

  @include mixin.is("desktop") {
    height: 200px;
    width: 85%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    font-size: 1.3rem;
    z-index: 10;

    @include mixin.is("desktop") {
      font-size: 2rem;
    }
  }
}
