.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .host__name {
    flex: 0 1 80px;
    text-align: right;
  }

  .host__picture {
    img {
      max-width: 60px;
      border-radius: 50%;
      margin-left: 1rem;
      max-width: 100px;
      
    }

  }
}