@use '../base' as base;
@use '../utilities/mixin' as mixin;



.main-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;

  a {
    color: base.$primary;
    text-decoration: none;
    padding: 0.25rem 0;         
    font-family: base.$font-style;
    position: relative;
    font-size: 1rem;            
  }

  a::after {
    content: "";
    position: absolute;
    left: 50%;                   
    transform: translateX(-50%);
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: base.$primary;
    transition: width .3s ease;
  }

  a:hover::after,
  a[aria-current="page"]::after {
    width: 60%;                  
  }

  
  @include mixin.is("desktop") {
    gap: 3rem;

    a {
      font-size: 1.5rem;
      padding: 0.25rem 1.5rem;
      left: -80px;               
      bottom: -20px;
    }

    a::after {
      left: 23px;                
      transform: none;
      bottom: 0;
    }
  }
}