@use "../base" as base;

.tag {
  background-color: base.$primary;
  color:base.$white;
  border-radius: 2rem;
  padding: .2rem .6rem;
  font-size: .8rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}


